<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Arise</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/main.css" type="text/css">
    <script src="js/bower_components.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
  </head>
  <body class="homepage">
    <header></header>
    <main ng-app="mediaBrowser">
      <div class="content">
        <h1>Media Browser</h1>
      </div>
      <div class="content">
        <div ng-controller="mediaBrowserController" class="browser">
          <div class="sort-column">
            <div class="dropdown">
              <div ng-click="toggleFilterDropdown()" ng-bind="filterName" class="dropdown-label"></div>
              <ul ng-show="sortDropdownVisible" class="dropdown-options">
                <li ng-repeat="filter in filterOptions" ng-bind="filter.name" ng-click="toggleFilterDropdown($index)" class="dropdown-option"></li>
              </ul>
            </div>
            <ul>
              <li ng-click="sortMedia()" class="sort-item">Show All</li>
              <li ng-repeat="category in filterCategories" ng-bind="category" ng-click="sortMedia(category)" class="sort-item"></li>
            </ul>
          </div>
          <div class="media-column">
            <input ng-model="searchParameter" placeholder="search" class="search">
            <ul class="media-list">
              <li ng-repeat="media in mediaLibrary | filter : search " class="media-item">
                <div ng-bind="media.mediaType" class="media-icon"></div>
                <h1 ng-bind="media.title" class="title"></h1>
                <h2 ng-bind="media.author" class="author"></h2>
                <p ng-bind="media.description" class="description"></p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </main>
    <footer></footer>
  </body>
</html>