fieldset {
  background-color: $secondary-background-color;
  border: $base-border;
  margin: 0 0 $small-spacing;
  padding: $base-spacing;

  &.unstyled {
    background-color: transparent;
    border: none;
  }
}

input,
label,
select {
  display: block;
  font-family: $base-font-family;
  font-size: $base-font-size;
}

label {
  font-weight: 600;
  margin-bottom: $small-spacing / 2;
  color: $brand-blue;
  font-family: $heading-font-family;
  text-transform: uppercase;
  font-size: 1.4em;
  margin-bottom: .5rem;

  &.required::after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

#{$all-text-inputs},
select[multiple=multiple],
textarea {
  background-color: darken($brand-blue, 10%);
  border: 2px solid darken($brand-blue, 10%);
  border-radius: 4px;
  color: white;
  font-weight: 800;
  box-sizing: border-box;
  font-family: $heading-font-family;
  text-transform: uppercase;
  font-size: .9em;
  margin: $base-spacing / 2 0;
  padding: $base-spacing / 8 $base-spacing/2;
  width: 100%;
  text-align: left;

  &::-webkit-input-placeholder {
    color: white;
    opacity: .8;
    // text-align: center;
  }

  &:-moz-placeholder { /* Firefox 18- */
    color: white;
    opacity: .8;
    // text-align: center;
  }

  &::-moz-placeholder {  /* Firefox 19+ */
    color: white;
    opacity: .8;
    // text-align: center;
  }

  &:-ms-input-placeholder {
    color: white;
    opacity: .8;
    // text-align: center;
  }

  &::hover {
    background-color: darken($brand-blue, 10%);

  }

  &:focus {
    border-color: $action-color;
    border: 2px solid darken($brand-blue, 10%);
  }

  &:disabled {
    background-color: darken($base-background-color, 6%);
    cursor: not-allowed;

    &:hover {
      border: $base-border;
    }
  }
}

.clean_form {
  @include media($medium-screen-up) {
    @include span-columns(8);
    @include shift(2);
  }
}

textarea {
  resize: vertical;
}

input[type="search"] {
  @include appearance(none);
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: $small-spacing;

  & + label {
    display: inline-block;
    margin-right: $small-spacing*2;

  }
}

input[type="file"] {
  padding-bottom: $small-spacing;
  width: 100%;
}

select {
  margin-bottom: $base-spacing;
  max-width: 100%;
  width: auto;
}

.form-row {

  @include span-columns(12);

  @include media($medium-screen-up) {
    @include row();
  }

  .input-group {
    @include span-columns(12);
    @include media($medium-screen-up) {
      @include span-columns(6);
    }
  }
}

label.error {
  font-size: .8em;
  color: salmon;
  margin-top: -16px;
  right: 0;
  margin-bottom: 1rem;
}

.simple-fieldset {

  background-color: transparent;
  border: none;
  border-bottom: 4px solid whitesmoke;
  padding: 1rem 0 2rem;
  margin-top: 2rem;

  legend {
    font-family: $heading-font-family;
    font-size: 1.2em;
    color: lighten($brand-grey, 10%);
    text-transform: uppercase;
    font-weight: 800;
    padding: 0;
  }
}

input.simple-input, textarea.simple-input {
  margin: 0;
  margin-bottom: 1rem;
  text-transform: none;
  font-size: 1em;
  background-color: white;
  border: 1px solid grey;
  padding: .5rem .5rem;
  color: $brand-grey;
  display: inline-block;

  &.error {
    border-color: salmon;

    &:hover, &:focus {
      border-color: salmon;
    }

  }

  &:hover {
    border: 1px solid lighten(grey, 10%);
  }

  &:focus {
    border: 1px solid darken(grey, 10%);
    outline: none;
  }

}

label.simple-label {
  margin-bottom: .5rem;
  padding-bottom: 0;
  font-size: 1em;
  color: $brand-blue;
  &:after {
    content: '\a';
    white-space: pre;
  }
  @include media($medium-screen-up) {
    max-width: 400px;
  }
}
