body {
  @include font-feature-settings("kern", "liga", "pnum");
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  margin: 0 0 $small-spacing;
}

hgroup {

  margin: 0 0 $small-spacing;

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: .2rem;
  }

}

h1 {
  font-size: 2em;
  font-weight: 700;
  line-height: 1em;
}

h2 {
  font-size: 2em;
  font-weight: 400;
  font-size: 1.8em;
  color: $brand-blue;
}

.section_header {
  text-transform: uppercase;
  margin: 2rem auto 1rem;
  font-weight: 400;
}

h3 {
  font-size: 1.6em;

  &.centered {
    text-align: center;
  }
}

h4 {



}

h5 {
  font-size: 1.4em;
  margin: 0;
  line-height: 1em;
}

h6 {
  font-size: 1.2em;
  margin: 0;
}

p {
  margin: 0 0 $small-spacing;
  font-weight: 300;
  font-size: .9em;

  &.centered {
    text-align: center;
  }

}

a {
  color: $brand-blue;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.1s linear;
  font-family: inherit;

  &:active,
  &:focus,
  &:hover {
    color: darken($brand-blue, 20%);
  }

  &:active,
  &:focus {
    outline: none;
  }
}

hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  border-width: 2px;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  // max-width: 100%;
}

blockquote {
  font-size: 1.2em;
  font-weight: 600;
  margin: 2rem 2rem;
  color: $brand-yellow;
}

$blockquote_border: 1px solid $brand-yellow;

.block_quote {
  color: $brand-yellow;

  text-align: center;
  font-weight: 400;
  font-style: italic;
  font-size: 1.5em;
  // @include span-columns( 6 );
  // @include shift(3);

  .quote {
    border-top: $blockquote_border;
    border-bottom: $blockquote_border;
    padding: 2rem 0;

    @include media( $medium-screen-up) {
      margin: 0 10%;
    }
  }

  .attribution {
    font-size: .7em;
    text-transform: uppercase;
    font-style: italic;
    margin: 1rem auto;
  }
}
