p.intro-text {
  font-size: .9em;
  font-weight: 400;
  color: $brand-grey;
  font-style: italic;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.blog-text {
  line-height: $base-line-height;

  @include media($medium-screen-up) {
    padding-left: flex-grid( 2 ) + flex-gutter();
    padding-right: flex-grid( 2 ) + flex-gutter();
  }
}

.post-title-group {
  margin-bottom: 1rem;

  h1 {margin-bottom: 1rem;}

  .post-meta {
    font-size: .8em;
    font-style: italic;
    color: lighten($brand-grey, 20%);
  }
}

.blog-list {
  @include media( $medium-screen-up ) {
    @include span-columns( 8 );
  };
}


.post-footer {

  .author-blurb {

    .author-pic {
      float: left;
    }

    .author-blurb-text {
      padding-left: 120px;
    }

    .author-name {
      font-size: 1.4em;
      margin-bottom: .5rem;
    }
  }

}

.share_links {
  @include clearfix;
  margin: 1rem 0;

  li, ul {
    display: inline-block;
    border: none;
  }

  h4 {
    color: $brand-blue;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    padding-right: 2rem;

    &::after {
      content: '';
      position: absolute;
      display: inline-block;
      width: 4px;
      background-color: $brand-yellow;
      height: 2em;
      top: -.25em;
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }

}

.blog-sidebar {

  display: none;
  margin-top: 7.5rem;

  &.post-sidebar {

  margin-top: 0;
  }

  @include media( $medium-screen-up ) {


    float: right;
    @include span-columns( 3 );
    @include shift(1);
    font-size: .9em;
    background-color: lighten($brand-grey, 60%);
    padding: 1rem;
    border-radius: 10px;

  }

  h4 {
    margin-bottom: .5rem;
    text-transform: uppercase;
    color: lighten(black, 30%);
    font-weight: 700;
    &:not(:first-of-type) {
      margin-top: 1rem;
    }
  }

  a {
    color: lighten($brand-grey, 40%);
    padding: .25rem;
    padding-left: 1rem;
    font-size: .9em;

    @include ellipsis(100%);

    &:hover {
      color: $brand-blue;
    }
  }
}

.hero_image {
  width: 100%;
  margin-bottom: 1rem;
}

.image_divider {

  width: 100%;
  @include media($medium-screen-up) {

    margin: 1rem 0;

    // @include span-columns( 8 );
    // @include shift(2);

    &.left {
      float: left;
      margin: .5rem 1rem .5rem 0;
    }

    &.right {
      float: right;
      margin: .5rem 0 .5rem 1rem;
    }

    &.full_width {
      margin: 1rem 0;
      float: none;
    }

  }
}

.card.horizontal.blog-card {

  margin-bottom: 0;

  .card-title {
    text-transform: none;
    font-size: 1.1em;
    padding-left: 1rem;

    a {
      color: inherit;
    }
  }

  .card-text {
    max-height: 4.5em;
    padding-left: 1rem;
  }

  .read_more {
    font-size: .9em;
  }
}
