p.intro-text {
  font-size: .9em;
  font-weight: 400;
  color: $brand-grey;
  font-style: italic;
  line-height: 1.5rem;

  @include span-columns( 8 );
  @include shift(2);
}

.blog-text {
  @include media($medium-screen-up) {
    padding-left: flex-grid( 2 ) + flex-gutter();
    padding-right: flex-grid( 2 ) + flex-gutter();
  }
}

.image_divider {
  
  width: 100%;

  @include media($medium-screen-up) {
    
    margin: 1rem 0;
    
    @include span-columns( 8 );
    @include shift(2);
    
    &.left {
      float: left;
      margin: .5rem 1rem .5rem 0;
    }

    &.right {
      float: right;
      margin: .5rem 0 .5rem 1rem;
    }

    &.full_width {
      margin: 1rem 0;
      @include span-columns( 12 );
    }

  }
}
