p.intro-text {
  font-size: .9em;
  font-weight: 400;
  color: $brand-grey;
  font-style: italic;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.blog-text {
  @include media($medium-screen-up) {
    padding-left: flex-grid( 2 ) + flex-gutter();
    padding-right: flex-grid( 2 ) + flex-gutter();
  }
}

.post-title-group {
  margin-bottom: 1rem;

  .post-meta {
    font-size: .8em;
    font-style: italic;
    color: lighten($brand-grey, 20%);
  }
}

.blog-content {
  @include media( $medium-screen-up ) {
    @include span-columns( 8 );
  };
}


.post-footer {

  .author-blurb {
    
    .author-pic {
      float: left;
    }

    .author-blurb-text {
      padding-left: 120px;
    }

    .author-name {
      font-size: 1.4em;
      margin-bottom: .5rem;
    }
  }

}

.share_links {
  @include clearfix;
  margin: 1rem 0;
  
  li, ul {
    display: inline-block;
  }

  h4 {
    color: $brand-blue;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    padding-right: 2rem;

    &::after {
      content: '';
      position: absolute;
      display: inline-block;
      width: 4px;
      background-color: $brand-yellow;
      height: 2em;
      top: -.25em;
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }

}

.blog-sidebar {

  display: none;

  @include media( $medium-screen-up ) {
    float: right;
    @include span-columns( 3 );
    @include shift(1);
    background-color: lighten($brand-grey, 60%);
    padding: 1rem;
    border-radius: 10px;

  }

  h4 {
    margin-bottom: .5rem;
    text-transform: uppercase;

    &:not(:first-of-type) {
      margin-top: 1rem;
    }
  }

  a {
    color: lighten($brand-grey, 20%);
    padding: .25rem;
    @include ellipsis(100%);
    &:hover {
      color: $brand-blue;
    }
  }
}

.hero_image {
  width: 100%;
  margin-bottom: 1rem;
}

.image_divider {
  
  width: 100%;
  @include media($medium-screen-up) {
    
    margin: 1rem 0;
    
    // @include span-columns( 8 );
    // @include shift(2);
    
    &.left {
      float: left;
      margin: .5rem 1rem .5rem 0;
    }

    &.right {
      float: right;
      margin: .5rem 0 .5rem 1rem;
    }

    &.full_width {
      margin: 1rem 0;
      float: none;
    }

  }
}
