ul.card_layout {
  list-style: none;
  padding: 0;
  line-height: $base-line-height;

  ul.social_links {
    list-style: none;
    padding: 0;
  }
}

.speakers {
  display: block;
}

.speaker-card {
  @include row;
  margin-bottom: 2rem;
  @include flex(none);

  .card-text {
    line-height: $base-line-height;

  }

  .card-image {
    margin: 0;

    img {
      width: 100%;
      display: block;
    }

    @include media($medium-screen-up) {
      float: left;
      @include size(250px);
    };
  }

  .card-header {
    border-bottom: 2px lighten($brand-blue, 40%) solid;
    margin-bottom: 1rem;
  }

  .card-title {
    color: white;
  }

  .social_links {
    float: right;
    border: none;
    padding: .5rem 0;

    a i {
      color: white;
    }

    a:hover i {
      color: white;
      opacity: .85;
    }
  }

  .card-info {
    padding: 1rem 2rem;
    background-color: $brand-blue;
    color: white;
    margin: 0;
    @include clearfix;

    .read_more {
      color: tint($brand-blue, 60%);
      float: right;

      &:hover {
        color: white;
      }
    }

    @include media($medium-screen-up) {
      margin-left: 250px;
      padding: 2rem 4rem;
      height: 250px;
    };
  }
}

.contact-card {

  font-size: 1.2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  @include clearfix;
  max-width: 288px;
  margin: 0 auto 2rem;
  background-color: $brand-blue;
  position: relative;

  @include media( $medium-screen-up ) {
    max-width: inherit;
  }

  .contact-pic {
    position: relative;
    width: 100%;
    margin: 0;

    @include media( $medium-screen-up ) {
      width: 500px;
      height: 500px;
      max-width: auto;
    }

    @include media( new-breakpoint(max-width rem(900) 12) ) {
      width: 340px;
      height: 340px;
    }

    @include media( new-breakpoint(max-width rem(730) 12) ) {
      max-width: 288px;
      height: 288px;
      margin: 0;
      padding: 0;
    }

    overflow: hidden;

    img {
      width: 100%;
      position: absolute;
    }
  }

  .contact-text {
    // display: none;
    width: 100%;
    left: 0;
    bottom: 1rem;
    display: block;
    padding: 0;
    position: static;
    line-height: $base-line-height;

    @include media( new-breakpoint(max-width rem(900) 12) ) {
      padding-left: 360px;
      padding-right: 3rem;
      bottom: 1rem;
      position: absolute;

    }

    @include media( new-breakpoint(min-width rem(900) 12) ) {
      width: 100%;
      padding-left: 520px;
      padding-right: 3rem;
      display: block;
      bottom: 1rem;
      left: 0;
    position: absolute;
    }

    @include media( new-breakpoint(max-width rem(720) 12) ) {
      max-width: 320px;
      position: static;
      margin: 0;
      padding: 0;
    }
  }

  .social_links {
    border: none;
    padding: .5rem 0;
    display: block;

    .header_link {
      margin-right: -.5em;
    }

    a i {
      color: white;
      font-size: 1.5em;
    }

    a:hover i {
      color: white;
      opacity: .85;
    }
  }


  .contact-name {

    color: white;
    padding: .5rem 0;
    margin-left: 1rem;
    border-bottom: 2px solid tint($brand-blue, 40%);
    @include media( $medium-screen-up ) {

      margin-left: 0;
      color: white;
      font-weight: 300;
      word-spacing: 1000px;
      font-size: 1.5em;
      line-height: 1;
      padding-bottom: 1rem;
      margin-bottom: .5rem;
    }

    @include media( new-breakpoint(max-width rem(720) 12) ) {
      // padding: 0 1rem;
    }
  }

  .connect_links {

    padding: .5rem 0;
    @include media( new-breakpoint(max-width rem(720) 12) ) {
      padding: 0 1rem;
      margin: 0;
    }
    .request {
      position: relative;
      font-size: .9em;

      .arrow_button {
        border-radius: 0;
        position: absolute;
        bottom: -.75rem;
        right: -3rem;

        @include media( new-breakpoint(max-width rem(720) 12) ) {
          font-size: .8em;
          padding: .25rem;
          height: 30px;
          width: 110px;
          right: -1.25rem;
          bottom: 0;

          &:before {
            border-width: 15px 9px 15px 0;
          }
        }


      }

    }

  }
}

.card_layout {
  margin: 2rem 0;
  @include clearfix;
  @include media($medium-screen-up) {
    @include display(flex);
  }

  &.horizontal {
    display: block;
  }
}

.card {
  background-color: white;
  box-shadow: 0 4px 8px transparentize(#000, .75);
  $card-padding: 2rem;
  margin: 0 0 1rem;

  @include span-columns( 12 );

  @include media($medium-screen-up) {
    @include span-columns( 4 );
    @include flex(1);

  }

  &.equal-height {
    position: relative;
    padding-bottom: 3rem;

    .read_more {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  &.horizontal {
    @include media($medium-screen-up) {
      @include flex(none);

      margin: 1rem auto;
      @include span-columns( 12 );

      &:first-of-type {
        margin-top: 0;
      }
      .card-image {
        @include span-columns( 4 );
        height: 150px;
        width: 200px;
        img {
          height: 100%;
          width: auto;
        }
      }

      .card-info {
        @include span-columns( 8 );
      }

      .card-title {
        padding: $card-padding/1.5 $card-padding 0 0;

        text-transform: uppercase;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      .card-text {
        padding-left: 0;
        line-height: $base-line-height;
      }

      .read_more {
        padding: 0 $card-padding 0 $card-padding;

      }

    }

  }

  &.contact {
    background-color: $brand-blue;

    .card-info {
      padding-top: 0rem;
    }

    .card-header {
      border-bottom: 2px solid tint($brand-blue, 20%);
      margin: 2rem 2rem 1rem;
    }

    .card-title {
      color: white;
      font-size: 2em;
    }

    .card-text {
      color: white;
      font-size: 1em;
      font-weight: 400;
      line-height: $base-line-height;
    }
  }

  .card-date {
    font-size: 1em;
    float: right;
    text-transform: Capitalize;
    white-space: normal;
    color: $brand-blue
  }

  .card-title {
    color: $brand-grey;
    font-size: 1.4em;
    line-height: 1.1;
    padding: $card-padding/1.5 $card-padding 0;
  }

  .card-text {
    padding: 0 $card-padding;
    color: lighten($brand-grey, 20%);
    font-size: .9em;
    max-height: 2.5rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre-line;
    line-height: $base-line-height;
  }

  .card-image {
    height: 170px;
    background-color: lighten(black, 10%);
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .read_more {
    color: $brand-yellow;
    text-align: right;
    display: block;
    font-weight: 400;
    padding: 0 $card-padding $card-padding/1.5;

    &:hover {
      color: darken($brand-yellow, 10%);
    }
  }
}
