.footer-header {
  color: white;
  font-size: 1.2em;
  text-transform: uppercase;
  margin: 0;
  font-weight: 800;
}

.footer_links {

  a {
    color: darken($brand-blue, 15%);
    font-size: .8em;

    &:hover {
      color: darken($brand-blue, 25%);

    }
  }
}

.footer_column {
  @include span-columns( 10 );
  @include shift(2);

  @include media($medium-screen-up) {
    @include span-columns( 2.4 );
    @include shift(0);
    display: block;
  }
  display: none;
  margin-bottom: 2rem;

  &.contact-column {
    padding-right: 25%;
    display: block;
    @include media($medium-screen-up) {
      padding-right: 0;
    }
  }
}

.contact_links a {
  text-transform: uppercase;
  color: white;
  line-height: 2;
  font-size: .7em;
  font-weight: 800;

  i {
    color: darken($brand-blue, 15%);
    font-size: 2em;
    margin-right: .5rem;
    line-height: 1.5;
    vertical-align: middle;
  }
}

.content-container.copyright_info {
  background-color: darken($brand-blue, 15%);
  padding: 2.5rem 1rem;
  text-transform: uppercase;
  color: white;
  font-size: .7em;
  font-weight: 800;
  letter-spacing: .1em;
  text-align: center;

  a {
    color: white;
  }

  .social_links {
    border-bottom: none;
    font-size: 1.8em;
    display: inline-block;
  }
}

.social_links {

  a:hover {

    .icon-twitter-bird {
      color: #0fbbef;
    }

    .icon-youtube-play {
      color: #ca393b;
    }

    .icon-facebook-1 {
      color: #4e71a6;
    }

    .icon-instagram-filled {
      color: #444444;
    }
  }


}
