.nav-container {
  position: absolute;
  left: 0;

  top: 1rem;
  width: 100%;
  z-index: 100;
  // background-color: red;
}

.header_nav {
  position: relative;
  border-bottom: 2px solid white;
  text-align: right;
}

.header_links, .social_links {
  
  display: inline-block;
  padding: .25rem;

  li {
    display: inline-block;

    a {
      color: lighten($brand-grey, 10%);
      text-transform: uppercase;
      font-size: .9em;
      padding: 1rem .5rem;

      &:hover {
        color: darken($brand-grey, 10%);
      }
    }
  }
}

.has_submenu {
  position: relative;
}

.submenu {
  display: none;
  position: absolute;
  background-color: transparentize(white, .2);
  padding: 1rem;
  text-align: left;
  width: 200px;
  top: 2rem;

  .header_link {
    padding: .25rem 0;
  }

  &.visible {
    display: block;
  }
}