 $mobile-header-color: lighten($brand-grey, 10%);


.nav-container {
  position: absolute;
  left: 0;

  width: 100%;
  z-index: 100;
  // background-color: red;

  @include media( $medium-screen-up ) {
    height: 40px;
  }
}

.header_nav {
  position: relative;
  border-bottom: 2px solid white;
  text-align: right;
  display: none;

  @include media( $medium-screen-up ) {
    display: block;
  }
}

.header_links, .social_links {
  
  display: inline-block;
  padding: 1rem .25rem;

  li {
    display: inline-block;

    a {
      color: lighten($brand-grey, 10%);
      text-transform: uppercase;
      font-size: .9em;
      padding: 1rem .3rem;

      &:hover {
        color: darken($brand-grey, 10%);
      }
    }
  }
}

.has_submenu {
  position: relative;
}

.submenu {
  display: none;
  position: absolute;
  background-color: transparentize(white, .2);
  padding: 1rem;
  text-align: left;
  width: 200px;
  top: 2rem;
  left: -1rem;
  @include transition( all .3s ease-in-out );

  .header_link {
    padding: .25rem 0;
  }

  &.visuallyHidden {
    opacity: 0;
    display: block;
  }

  &.visible {
    opacity: 1;
  }

  li {
    opacity: 0;
    @include transition( all .5s ease-in-out );

    &.visible {
      opacity: 1;
    }
  }
}

.sidebar_toggle .open-icon {
  font-size: 1.7em;
  line-height: 1.25;
  color: lighten($brand-grey, 30%);
  vertical-align: text-top;
  @include transition ( all .5s ease-in-out );
  position: relative;
  font-style: normal;
  left: 0;
  vertical-align: top;
}

.slide_away .sidebar_toggle .open-icon {
  opacity: 0;
  width: 0;
}

.close-icon {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  overflow: hidden;
  right: 1rem;

  @include transform( scale(0) );
  @include transition ( all .5s ease-in-out );


  &:hover {
    &::before, &::after {
      background-color: lighten($brand-grey, 40%);
    }
  }

  &::before, &::after {
    content: '';
    position: absolute;
    height: 4px;
    border-radius: 4px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #000;
      background-color: lighten($brand-grey, 30%);
  }

  &::before {
    @include transform(rotate(45deg));
  }
  &::after {
    @include transform(rotate(-45deg));
  }
}

.slide_away {
  .close-icon {
    @include transform( scale(1) );
  }
}

.mobile_header {

  $header-height: 3rem;

  @include media( $medium-screen-up ) {
    display: none;
  }

  .header_link a {
    color: lighten($brand-grey, 50%);
    font-size: 1.3em;
    line-height: 0;
    font-family: $heading-font-family;
  }

  width: 100%;
  margin: 0;
  height: $header-height;
  position: relative;

  > * {
    margin: 0;
    height: $header-height;
  }

  background-color: $mobile-header-color;

  .sidebar_toggle {
    // background-color: $brand-grey;
    background-color: transparent;
    padding: 0;
    width: 50px;
    right: 0;
    top: 0;
    position: absolute;
  }
  /* arrow buttons */

  .arrow_divider {
    position: absolute;
    right: 60px;
    bottom: 0;
    @include transition ( all .3s ease-in-out );
  }

  .arrow_divider::after {
    content: '';
    position: absolute;
    top: 0;

    border-top: $header-height/2 solid;
    border-bottom: $header-height/2 solid;

    border-left: 0 solid;
    border-right: 80px solid;
  }

  .arrow_divider::before {
    top: 0;
    right: 0;
    position: absolute;

    content: '';
    border-top: $header-height/2 solid;
    border-bottom: $header-height/2 solid;

    border-left: 1em solid;
    border-right: .75em solid;
  }

  .arrow_divider::after {
    border-top-color: $brand-grey;
    border-bottom-color: $brand-grey;
    border-left-color: $mobile-header-color;
    border-right-color: $brand-grey;
  }


  .arrow_divider::before {
    border-top-color: $mobile-header-color;
    border-bottom-color: $mobile-header-color;
    border-left-color: $mobile-header-color;
    border-right-color: $brand-grey;
  }
  /* hover */

  .arrow_divider::after {
    @include transition ( all .3s ease-in 0s);
  }

  .arrow_divider::before {
    @include transition ( all .3s ease-out .3s);
  }

  .arrow_divider.to_the_right {
    right: 0;
  }

  .arrow_divider.to_the_right::after {
    @include transition ( all 0.3s ease-out .3s);

    border-left-width: .75em;
    border-right-width: .75em;
  }

  .arrow_divider.to_the_right::before {
    @include transition ( all 0.3s ease-in 0s);

    border-left-width: 1em;
    border-right-width: 0;
  }

}