
.content.hero-content {
  position: relative;
  padding-top: 6rem; 
  min-height: 600px;

  .tagline {
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 2em;
    width: 30%;
    text-align: right;
    font-family: serif;
  }
}

.notes {
  border-top: 2px solid lighten($brand-grey, 40%);
  padding: 1rem;
}

.event-list {

  .event {
    margin: 1rem 0 2rem;
  }

  .event-title {
    margin: 0;
  }

  .event-date {
    display: block;
    color: $brand-blue;
    font-style: italic;
    margin-bottom: .5rem;
  }

  .event-details {
    margin-bottom: .5rem;
    line-height: 1.25;
  }

}

.card_layout {
  // padding: 0 0 1rem 0;
}


.card {
  background-color: white;
  box-shadow: 0 4px 8px transparentize(#000, .75);
  $card-padding: 2rem;
  margin: 1rem auto;

  @include span-columns( 12 );

  @include media($medium-screen-up) {
    margin: auto;
    @include span-columns( 4 );

  }

  &.horizontal {
    @include media($medium-screen-up) {
      
      margin: 1rem auto;
      @include span-columns( 12 );

      &:first-of-type {
        margin-top: 0;
      }
      .card-image {
        @include span-columns( 4 );
        height: 300px;
        width: 300px;
      }

      .card-info {
        @include span-columns( 8 );
      }

    }
  }

  &.contact {
    background-color: $brand-blue;
    
    .card-info {
      padding-top: 0rem;
    }

    .card-header {
      border-bottom: 2px solid tint($brand-blue, 20%);
      margin: 2rem 2rem 1rem;
    }

    .card-title {
      color: white;
      font-size: 2em;
      padding: 0;
    }

    .card-text {
      color: white;
      font-size: 1em;
      font-weight: 400;
    }
  }

  .card-date {
    color: $brand-blue;
    font-size: 1.4em;
    font-weight: 400;
    padding-right: .5em;
  }

  .card-title {
    color: $brand-grey;
    font-size: 1.2em;
    padding: $card-padding $card-padding 0;
    line-height: 1.25;
  }

  .card-text {
    padding: 0 $card-padding;
    color: lighten($brand-grey, 20%);
    font-size: .9em;
  }

  .card-image {
    height: 200px;
    background-color: lighten(black, 10%);
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .read_more {
    color: $brand-yellow;
    text-align: right;
    display: block;
    font-weight: 400;
    padding: 0 $card-padding $card-padding;

    &:hover {
      color: darken($brand-yellow, 10%);
    }
  }
}