
.content.hero-content {
  position: relative;
  padding-top: 6rem;
  min-height: 400px;

  @include media($medium-screen-up) {
    min-height: 600px;
  }

  .tagline {
    color: white;
    right: 1rem;;
    bottom: 0;
    width: 80%;
    text-align: center;
    font-family: serif;
    font-size: 1.5em;
    text-shadow: 0 0 20px black;
    right: 2rem;
    font-family: $special-font-family;
    line-height: $base-line-height;
    max-width: 350px;
    margin: 4rem auto 0;
    display: block;
    // display: none;
    @include media($medium-screen-up) {
      position: absolute;
      width: 30%;
      display: block;
      font-size: 2em;
      text-shadow: none;
      text-align: right;
      max-width: auto;
    }
  }
}

.notes {
  border-top: 2px solid lighten($brand-grey, 40%);
  padding: 1rem;
}

.event-list {

  .event {
    margin: 1rem 0 2rem;
  }

  .event-title {
    margin: 0;
    font-size: 1.1em;
  }

  .event-date {
    display: block;
    color: $brand-blue;
    font-style: italic;
    margin-bottom: .5rem;
  }

  .event-details {
    margin-bottom: .5rem;
    padding-left: 2rem;
    line-height: 1.25;
  }

}
