@import 'bourbon';
$column: 90px;
$gutter: 30px;
@import 'neat';
@import 'base/base';

@import 'media-browser';
@import 'blog';
@import 'homepage';
@import 'footer';
@import 'header';
@import 'store';
@import 'standard-content';
@import 'staff';
@import 'card_layouts';
@import "expanding-section";
@import "testimonials";

main {
  // margin-top: 4rem;
  overflow: hidden;
  background-color: white;
}

header {
  background-color: white;
}

body {
  overflow-x: hidden;
  background-color: #005a76;
}

.no-scroll {
  overflow: hidden;
}

.mobile_sidebar {
  position:fixed;
  z-index: -1;
  top: 0;
  right: 0;
  margin-left: 25%;
  height: 100%;
  width: 75%;
  background-color: $brand-grey;

  @include media( $medium-screen-up ) {
    display: none;
  }

  .header_links {

    position: relative;
    height: 100%;
    overflow: scroll;
    padding: 4rem 2rem;
    font-size: 1.2em;

    .submenu {
      opacity: 1;
      box-shadow: none;
    }

    li {
      display: block;
      height: auto;
      line-height: 0;
      opacity: 1;
      a {
        color: white;
        padding: 0;
        display: inline-block;
        margin: 1.2rem 0;
        font-size: .9em;
      }
    }

  }

  li.has_submenu a {
    color: $brand-yellow;
  }

  .submenu {
    background-color: transparent;
    display: block;
    position: static;
    padding: .5rem 1rem;
    border: none;

    .header_link a {
      color: $brand-yellow;
      font-size: .8em;

    }
  }

  .has_submenu a {
    color: $brand-yellow;
  }

}

.slideaway_wrapper {
  z-index: 10;
  position: relative;
  @include transition ( all .5s ease-in-out );

  &.slide_away {
    @include transform( translateX(-75%) );
  }

  @include media($medium-screen-up) {
    &.slide_away {
      @include transform( translateX(0) );
    }
  }
}

.content-container {
  padding: 2rem 0;
  background-color: white;

  &.hero_image {
    background-color: #eaeaea;
    background-position: bottom;
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 300px;
    margin-bottom: 0;

    &.with_banner {
      margin-bottom: 125px;

      img {
        display: block;
        margin: 90px auto -154px;
        width:900px;
        height: auto;
        max-width: 100%;
      }

      @media (max-width: 940px) {
        .content-container.hero_image.with_banner {
                margin-bottom: 0;
                height: auto;
                min-height: 0;
                padding: 0;
            }
        .content-container.hero_image.with_banner img {
            margin: 0 auto;
        }
      }

    }

    &.sunset_girl {
      background-image: url("../images/sunset-girl.jpg");
      background-size: 200%;
      background-position: -80px bottom;

      @include media(new-breakpoint(min-width rem(520) 12)) {
        background-position: -100px 10px;
        min-height: 500px;
      }

      @include media(new-breakpoint(min-width rem(640) 12)) {
        background-size: 100%;
        background-position: bottom;
      }

      @include media($medium-screen-up) {
        background-size: 100%;
        background-position: bottom;
      }

    }

    &.generic {
      background-image: url("http://stevensegallery.com/1100/500");
      background-position: top;
    }

  }

  &.gradient-blue {
    @include background-image(linear-gradient( tint($brand-blue, 50%), $brand-blue ));
    color: white;
    p {
      color: white;
    }
    h2 {
      color: white;
    }
  }

  &.gradient-orange {
    @include background-image(linear-gradient( #ffb85f, #fa9e35 ));
    color: white;
    h2 {
      color: white;
    }
  }

  &.solid-blue {
    background-color: $brand-blue;

    .section_header {
      color: white;
    }
  }

  &.solid-orange {
    background-color: $brand-yellow;

    .section_header {
      color: white;
    }
  }

  &.solid-grey {
    background-color: lighten($brand-grey, 63%);

    h2 {
      color: $brand-yellow;
      font-weight: 300;
    }

  }
}

.photo_divider {
  height: 200px;

  &.trees {
    background-image: url("../images/trees.jpg");
  }
}

.content {
  @include outer-container();
  padding: 0 1rem;
}

.text_container {
  @include media($medium-screen-up) {
    @include span-columns( 8 );
    @include shift(2);
  }
}
