@import 'bourbon';
$column: 90px;
$gutter: 30px;
@import 'neat';
@import 'base/base';

@import 'media-browser';
@import 'blog';

.content {
  @include outer-container();
  padding: 1rem 0;
}

.text_container {
  @include media($medium-screen-up) {
    @include span-columns( 8 );
    @include shift(2);
  }
}

.image_divider {
  
  width: 100%;

  @include media($medium-screen-up) {
    
    width: auto;

    &.left {
      float: left;
      margin: 0 1rem 0 0;
    }

    &.right {
      float: right;
      margin-left: 1rem;
    }

  }
}

p.blog-text {
  @include media($medium-screen-up) {
    padding-left: flex-grid( 2 ) + flex-gutter();
    padding-right: flex-grid( 2 ) + flex-gutter();
  }
}