.media-card {

  background-color: white;
  color: $brand-grey;
  font-size: 1rem;
  margin-bottom: 1rem; 
  @include media( $medium-screen-up ) {
    @include span-columns( 4 );
  }

  .media-card-header {
    background-color: $brand-grey;
    padding: 1.5rem;
    position: relative;

    .media-title {
      font-size: 1em;
      color: white;
      margin: 0;
    }

    .media-author {
      font-size: 1em;
      color: $brand-yellow;
      font-style: italic;
      font-weight: 600;
    }

    .media-view-btn {
      position: absolute;
      left: -.5rem;
      bottom: -2rem;
      background-color: $brand-blue;
      height: 3rem;
      box-shadow: 2px 2px 0 transparentize($brand-grey, .6);

      a {
        color: white;
        font-weight: 800;
      }

      i {
        font-size: 1.25em;
        margin-right: .5rem;
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        height: 3rem;
        right: -9px;
        top: 0;
        border-style: solid;
        border-color: transparent transparent transparent $brand-blue;
        border-width: 1.5rem 0 1.5rem 9px;
        background-clip: border-box;
        z-index: 20;
      }

      &::before {
        content: '';
        display: block;
        position: absolute;
        height: 3rem;
        right: -11px;
        top: 2px;
        border-style: solid;
        border-color: transparent transparent transparent transparentize($brand-grey, .6);
        border-width: 1.5rem 0 1.5rem 9px;
        background-clip: border-box;
        z-index: 10;
      }
    }
  }

  .media-card-content {

    padding: 3rem 1.5rem 1rem;

    .media-description {
      color: $brand-grey;
    }
  }

  .media-card-category {
    border-top: 2px solid lighten($brand-grey, 60%);
    padding: 1rem 0 0;
    color: $brand-yellow;
    font-weight: 800;

    i {
      margin-right: .5rem;
      font-size: 1.5em;
    }
  }
}

.browser {
  height: 500px;
  position: relative;
  overflow: hidden;
  > * {
    position: absolute;
    height: 100%;
  }
}

%browser-list-item {
  border-top: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
  @include padding(1rem);
  cursor: pointer;

  &:hover {
    background-color: darken(white, 5%);
  }

  &:last-of-type() {
    border: 1px solid whitesmoke;
  }
}

%column-header {
  // height: 70px;
}

.MOBILE-ONLY {
  @include media($medium-screen) {
    display: none;
  }
}

.column-header {
  background-color: $brand-grey;
  color: white;
  margin: 0;
  font-weight: 800;
  padding: .5rem;
  text-align: center;
  border-right: 1px solid white;
  text-transform: uppercase;
  cursor: default;
  @include user-select( none);
  position: relative;
}

.filter-column {
  z-index: 10;
  width: 100%;
  overflow: visible;
  background-color: #fff;

  @include media($medium-screen) {
    width: 200px;
  }

  .filter-item {
    @extend %browser-list-item;
    padding: .75rem;
    font-size: .9em;
    line-height: 0;
    font-weight: 800;
    color: $brand-yellow;
    min-height: 3rem;
    background-color: tint($brand-yellow, 85%);

    [class^="icon-"] {
      margin-right: .5rem;
      font-size: 1.3em;
    }

    span {
      @include clearfix;
    }

    &:hover {
      background-color: darken(tint($brand-yellow, 85%), 5%);
    }
    &.selected {
      background-color: $brand-yellow;
      color: white;
    }
  }
}

.media-column {

  background-color: #fff;
  z-index: 10;
  width: 100%;
  @include transform( translateX(100%) );
  left: 0;
  right: 0;
  @include transition ( all 500ms ease-in-out );

  &.isVisible {
    @include transform( translateX(0) );
  }

  @include media($medium-screen) {
    @include transform( translateX(0) );
    padding-left: 200px;
    width: 100%;
    z-index: 0;
  }

  .media-item {
    @extend %browser-list-item;
    position: relative;

    &.back-btn {
      // background-color: lighten($brand-grey, 60%);
      cursor: pointer;
      padding: .5rem 1rem 1rem;
      line-height: .25em;
      font-family: $heading-font-family;

      color: lighten($brand-blue, 5%);
      text-transform: uppercase;
      font-weight: 800;
    }
  }

  .title {
    font-size: 1em;
    margin: 0;
    margin-right: 5rem;
    font-weight: 600;
    color: lighten($brand-grey, 20%);
    text-transform: capitalize;
  }

  .author {
    font-size: .9em;
    margin: 0;
    color: $brand-blue;
    font-style: italic;
    text-transform: none;
    font-weight: 400;
  }

  .description {
    font-weight: normal;
    font-size: .8em;
  }
}

.media-list {
  overflow-y: auto;
  height: 400px;
}

.media-icon, .category-icon {
  width: 40px;
  height: 40px;
  margin-bottom: 50px;
  margin-right: 1rem;
  overflow: hidden;
  position: absolute;
  right: -.5rem;
  top: .75rem;

  color: $brand-blue;

  @include media($medium-screen-up) {
    right: 0;

  }
}

.category-icon {
  right: 1rem;
  color: $brand-yellow;

  @include media($medium-screen-up) {
    right: 2rem;

  };
}

.searchbar {

  position: relative;

  .search {
    padding: 1rem;
    padding-left: 3rem;
    border: none;
    text-transform: uppercase;
    font-weight: 800;
    background-color: lighten($brand-grey, 60%);
    border: 1px solid white;
    width: 100%;
    @extend %column-header;
    color: lighten($brand-grey, 20%);
  }

  .search_button {
    display: inline-block;
    position: absolute;
    top: -.5rem;
    left: -.5rem;
    background-color: transparent;
    color: lighten($brand-grey, 20%);
    font-size: 1.8em;
  }

}

.dropdown-trigger {
  cursor: pointer;
  z-index: 10;
  &:hover {
    background-color: lighten($brand-grey, 10%);
  }

  &::before {
    font-family: "fontello";
    content: '\e870';
    display: inline-block;
    @include transform( rotate(-90deg) );
    position: absolute;
    left: 2rem;
    top: .5rem;
    font-size: 1.25em;
  }
}

.dropdown-options {
  @include transition(all ease-out .2s);
  opacity: 1;
  @include transform(translateY(0));

  &.ng-hide {
    opacity: 0;
    @include transform(translateY(-10%));
  }
}

.dropdown {
  position: relative;
  margin-right: 1px;

  .dropdown-label {
    @extend %column-header;
    background-color: lighten($brand-grey, 60%);
    cursor: pointer;
    padding: .5rem 1rem 1rem;
    line-height: .25em;
    font-family: $heading-font-family;

    color: lighten($brand-grey, 15%);
    text-transform: uppercase;
    font-weight: 800;
  }

  .dropdown-options {
    position: absolute;
    background-color: #fff;
    font-size: .9em;
    border: 1px solid lighten($brand-grey, 30%);
    width: 100%;

  }

  .dropdown-option {
    border-bottom: 1px solid lighten($brand-grey, 30%);
    padding: 1.5rem;
    @include user-select;
    &:last-of-type {
      border: none;
    }
  }
}

.media-icon {

}
