.browser {
  height: 500px;
  position: relative;
  overflow: hidden;
  > * {
    position: absolute;
    height: 100%;
  }
}

%browser-list-item {
  border: 1px solid whitesmoke;
  border-bottom: none;
  @include padding(1rem);
  cursor: pointer;

  &:hover {
    background-color: darken(white, 5%);
  }

  &:last-of-type() {
    border: 1px solid whitesmoke;
  }
}

%column-header {
  // height: 70px;
}

.MOBILE-ONLY {
  @include media($medium-screen) {
    display: none;
  }
}

.column-header {
  background-color: $brand-grey;
  color: white;
  margin: 0;
  font-weight: 800;
  padding: .5rem;
  text-align: center;
  border: 1px solid white;
  text-transform: uppercase;
  cursor: default;
  @include user-select( none);
}

.filter-column {
  z-index: 10;
  width: 100%;
  overflow: visible;
  background-color: #fff;

  @include media($medium-screen) {
    width: 200px;
  }

  .filter-item {
    @extend %browser-list-item;
    padding: .75rem;
    font-size: .9em;
    line-height: 0;
    font-weight: 800;
    color: $brand-yellow;
    background-color: tint($brand-yellow, 85%);
    
    [class^="icon-"] {
      margin-right: .5rem;
      font-size: 1.3em;
    }

    &:hover {
      background-color: darken(tint($brand-yellow, 85%), 5%);
    }
    &.selected {
      background-color: $brand-yellow;
      color: white;
    }
  }
}

.media-column {

  background-color: #fff;
  z-index: 10;
  @include transform( translateX(100%) );
  @include transition ( all 500ms ease-in-out );

  &.isVisible {
    @include transform( translateX(0) );
  }

  @include media($medium-screen) {
    @include transform( translateX(0) );
    padding-left: 200px;
    width: 100%;
    z-index: 0;
  }

  .media-item {
    @extend %browser-list-item;
    position: relative;
  }

  .title {
    font-size: 1em;
    margin: 0;
    font-weight: 600;
    color: lighten($brand-grey, 20%);
    text-transform: capitalize;
  }

  .author {
    font-size: .9em;
    margin: 0;
    color: $brand-blue;
    font-style: italic;
    text-transform: none;
    font-weight: 400;
  }

  .description {
    font-weight: normal;
    font-size: .8em;
  }
}

.media-list {
  overflow-y: auto;
  height: 400px;
}

.media-icon, .category-icon {
  width: 40px;
  height: 40px;
  margin-bottom: 50px;
  margin-right: 1rem;
  overflow: hidden;
  position: absolute;
  right: 0;
}

.category-icon {
  right: 2rem;
}

.searchbar {

  position: relative;

  .search {
    padding: 1rem;
    padding-left: 3rem;
    border: none;
    text-transform: uppercase;
    font-weight: 800;
    background-color: lighten($brand-grey, 60%);
    border: 1px solid white;
    width: 100%;
    @extend %column-header;
    color: lighten($brand-grey, 20%);
  }

  .search_button {
    display: inline-block;
    position: absolute;
    top: -.5rem;
    left: -.5rem;
    background-color: transparent;
    color: lighten($brand-grey, 20%);
    font-size: 1.8em;
  }

}

.dropdown-trigger {
  cursor: pointer;

  &:hover {
    background-color: lighten($brand-grey, 10%);
  }

  &::before {
    font-family: "fontello";
    content: '\e870';
    display: inline-block;
    @include transform( rotate(-90deg) );
    position: absolute;
    left: 2rem;
    top: .5rem;
    font-size: 1.25em;
  }
}

.dropdown {
  position: relative;

  .dropdown-label {
    @extend %column-header;
    background-color: lighten($brand-grey, 60%);
    border: 1px solid white;
    cursor: pointer;
    padding: .5rem 1rem 1rem;
    line-height: .25em;

    color: lighten($brand-grey, 20%);
    text-transform: uppercase;
    font-weight: 800;

    &::before {
      content: "choose filter:";
      font-size: .9em;
      line-height: 1.8em;
      display: block;
      color: grey;
      text-transform: none;
      font-weight: 400;
      color: lighten($brand-grey, 30%);
    }
  }

  .dropdown-options {
    position: absolute;
    background-color: #fff;
    font-size: .9em;
    border: 1px solid whitesmoke;
    box-shadow: 0 4px 8px transparentize(black, .8);
  }

  .dropdown-option {
    border-bottom: 1px solid whitesmoke;
    padding: 1rem;
  }
}

