form
  label.ui-label(for="fName") First Name:
  input.ui-input(id="fName" type="text")

  label.ui-label(for="lName") Last Name:
  input.ui-input(id="lName" type="text")

  label.ui-label(for="email") Email:
  input.ui-input(id="email" type="email")

  label.ui-label(for="subject") Subject:
  input.ui-input(id="subject" type="text")

  label.ui-label(for="message") Message:
  textarea.ui-input(id="message" type="text")

  label.ui-label(for="address") Address:
  input.ui-input(id="address" type="text")

  label.ui-label(for="city") City:
  input.ui-input(id="city" type="text")

  label.ui-label(for="state") State:
  input.ui-input(id="state" type="text")

  label.ui-label(for="phone") Phone:
  input.ui-input(id="phone" type="number")