.content-container.solid-blue
  .content
    .footer_column
      h3.footer-header Education
      ul.footer_links
        li: a(href="/about") About
        li: a(href="/education-center") Education Center
        li: a(href="/events") Events
        li: a(href="/blog") Blog
    .footer_column
      h3.footer-header Resources
      ul.footer_links
        li: a(href="/about") About
        li: a(href="/events") Events
        li: a(href="/blog") Blog
        li: a(href="/education-center") Resources

    .footer_column
      h3.footer-header Sign Up
    .footer_column
      h3.footer-header Contact