.content-container.solid-blue
  .content
    .footer_column
      h3.footer-header Education
      ul.footer_links
        li: a(href="/about") About
        li: a(href="/education-center") Education Center
        li: a(href="/events") Events
        li: a(href="/blog") Blog
    .footer_column
      h3.footer-header Education
      ul.footer_links
        li: a(href="/about") About
        li: a(href="/education-center") Education Center
        li: a(href="/events") Events
        li: a(href="/blog") Blog
    .footer_column
      h3.footer-header Resources
      ul.footer_links
        li: a(href="/about") About
        li: a(href="/events") Events
        li: a(href="/blog") Blog
        li: a(href="/education-center") Resources

    .footer_column.contact-column
      h3.footer-header Sign Up
      input(type="text" placeholder="info here")
      input(type="email" placeholder="info here")
      button.submit-btn submit
    .footer_column.contact-column
      h3.footer-header Contact
      ul.contact_links
        li: a(href="#")
          i.icon-location
          span Address Here
        li: a(href="#")
          i.icon-phone
          span Phone Number
        li: a(href="#")
          i.icon-mail
          span Email Us
        li: a(href="#")
          i.icon-gift
          span Donate Now
.content-container.copyright_info
  .content
    span ©2015 Arise Ministries All Right Reserved • 
    a(href="#") Privacy Policy
    ul.social_links
      li.header_link: a(href="#") 
        i.icon-twitter-bird
      li.header_link: a(href="#") 
        i.icon-youtube-play
      li.header_link: a(href="#") 
        i.icon-facebook-1
      li.header_link: a(href="#") 
        i.icon-instagram-filled
