.nav-container
  nav.header_nav.content
    ul.header_links
      li
        a(href="#") About
        ul.submenu
          li Statement of Belief
          li Staff
          li Board of Directors
          li Contact Us
          li Do You Know Jesus
      li: a(href="education-center") Education Center
      li: a(href="events") Events
      li: a(href="#") Blog
      li: a(href="#") Resources
      li: a(href="#") Speaker
      li: a(href="#") Store
      li: a(href="#") Donate
    ul.social_links
      li tw
      li yt
      li f
      li i