.share_links
  h4 Share
  ul.social_links
    li: a(href="#") 
      i.icon-twitter-bird
    li: a(href="#") 
      i.icon-youtube-play
    li: a(href="#") 
      i.icon-facebook-1
    li: a(href="#") 
      i.icon-instagram-filled
