doctype html
html
  head
    include _head.jade
    script(src='js/app.js')
    script(src='js/controllers.js')
  body.homepage
    header
      include _header.jade
    main
      .content-container
        .content
          article.blog-content
            h1 Blog
            h2.section_header Featured
            ul.card_layout
              li
                .card.horizontal
                  .card-image
                    img(src="http://stevensegallery.com/300/220")
                  h3.card-title Proin ornare luctus massa, id hendrerit tellus auctor
                  p.card-text Proin nibh arcu, consectetur a odio nec, aliquet suscipit enim. Suspendisse aliquam, libero ac tincidunt suscipit, lacus quam commodo odio, nec faucibus arcu ante in odio. Proin ornare luctus massa, id hendrerit tellus auctor eu. Nullam eget egestas orci.
                  a(href="#").read_more Read More
                include _share_links.jade
              li
                .card.horizontal
                  .card-image
                    img(src="http://stevensegallery.com/400/300")
                  h3.card-title Proin ornare luctus massa, id hendrerit tellus auctor
                  p.card-text Proin nibh arcu, consectetur a odio nec, aliquet suscipit enim. Suspendisse aliquam, libero ac tincidunt suscipit, lacus quam commodo odio, nec faucibus arcu ante in odio. Proin ornare luctus massa, id hendrerit tellus auctor eu. Nullam eget egestas orci.
                  a(href="#").read_more Read More
                include _share_links.jade
              li
                .card.horizontal
                  .card-image
                    img(src="http://stevensegallery.com/600/450")
                  h3.card-title Proin ornare luctus massa, id hendrerit tellus auctor
                  p.card-text Proin nibh arcu, consectetur a odio nec, aliquet suscipit enim. Suspendisse aliquam, libero ac tincidunt suscipit, lacus quam commodo odio, nec faucibus arcu ante in odio. Proin ornare luctus massa, id hendrerit tellus auctor eu. Nullam eget egestas orci.
                  a(href="#").read_more Read More
                include _share_links.jade
          nav.blog-sidebar
            h4 Recent
            ul
              li: a(href="#") Title of Another Blog Post
              li: a(href="#") Title of Another Blog Post
              li: a(href="#") Title of Another Blog Post
            h4 Categories
            ul
              li: a(href="#") Category 1
              li: a(href="#") Category 2
              li: a(href="#") Category 3
              li: a(href="#") Category 4
      .content-container.solid-grey
        section.content
          h3.section_header Recent Posts
          .card_layout
            .card
              .card-image
                img(src="http://stevensegallery.com/300/220")
              h3.card-title Proin ornare luctus massa, id hendrerit tellus auctor
              p.card-text Proin nibh arcu, consectetur a odio nec, aliquet suscipit enim. Suspendisse aliquam, libero ac tincidunt suscipit, lacus quam commodo odio, nec faucibus arcu ante in odio. Proin ornare luctus massa, id hendrerit tellus auctor eu. Nullam eget egestas orci.
              a(href="#").read_more Read More
            .card
              .card-image
                img(src="http://stevensegallery.com/400/300")
              h3.card-title Proin ornare luctus massa, id hendrerit tellus auctor
              p.card-text Proin nibh arcu, consectetur a odio nec, aliquet suscipit enim. Suspendisse aliquam, libero ac tincidunt suscipit, lacus quam commodo odio, nec faucibus arcu ante in odio. Proin ornare luctus massa, id hendrerit tellus auctor eu. Nullam eget egestas orci.
              a(href="#").read_more Read More
            .card
              .card-image
                img(src="http://stevensegallery.com/600/450")
              h3.card-title Proin ornare luctus massa, id hendrerit tellus auctor
              p.card-text Proin nibh arcu, consectetur a odio nec, aliquet suscipit enim. Suspendisse aliquam, libero ac tincidunt suscipit, lacus quam commodo odio, nec faucibus arcu ante in odio. Proin ornare luctus massa, id hendrerit tellus auctor eu. Nullam eget egestas orci.
              a(href="#").read_more Read More
    footer
      include _footer.jade