doctype html
html
  head
    include _head.jade
    script(src='js/app.js')
    script(src='js/controllers.js')
    script(src="//use.typekit.net/lcr7fcy.js")
    script try{Typekit.load();}catch(e){}
  body
    nav.mobile_sidebar
      include _mobile_nav.jade
    .slideaway_wrapper

      header
        include _header.jade
      main(ng-app="mediaBrowser")
        .content-container
          .content
            h1 Education Center
            p.intro-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed sapien quam. Sed dapibus est id enim facilisis, at posuere turpis adipiscing. Quisque sit amet dui dui.
        .content-container.gradient-orange
          .content
            h2 Recent Additions
            ul.media-cars
              li.media-card
                header.media-card-header
                  h1.media-title Title of Media
                  h2.media-author Author
                  button.media-view-btn: a(href="#")
                    i.icon-video
                    span Watch
                .media-card-content
                  p.media-description Duis rhoncus velit nec est condimentum feugiat. Donec aliquam augue nec gravida lobortis. Nunc arcu mi, pretium quis dolor id, iaculis euismod ligula. Donec tincidunt gravida lacus eget lacinia.
                  .media-card-category
                    i.icon-leaf
                    span Spiritual Growth
              li.media-card
                header.media-card-header
                  h1.media-title Title of Media
                  h2.media-author Author
                  button.media-view-btn: a(href="#")
                    i.icon-doc
                    span View
                .media-card-content
                  p.media-description Duis rhoncus velit nec est condimentum feugiat. Donec aliquam augue nec gravida lobortis. Nunc arcu mi, pretium quis dolor id, iaculis euismod ligula. Donec tincidunt gravida lacus eget lacinia.
                  .media-card-category
                    i.icon-sun
                    span Emotional Wellness
              li.media-card
                header.media-card-header
                  h1.media-title Title of Media
                  h2.media-author Author
                  button.media-view-btn: a(href="#")
                    i.icon-download
                    span Download
                .media-card-content
                  p.media-description Duis rhoncus velit nec est condimentum feugiat. Donec aliquam augue nec gravida lobortis. Nunc arcu mi, pretium quis dolor id, iaculis euismod ligula. Donec tincidunt gravida lacus eget lacinia.
                  .media-card-category
                    i.icon-address
                    span Career
        .content-container
          .content
            h2 Library

          .content(ng-controller="mediaBrowserController")
            .searchbar
              input.search(ng-model="searchParameter" placeholder="search")
              button.search_button.icon-search-outline
            .browser
              .filter-column(ng-class="{isVisible: !mediaIsFiltered}")
                h4.column-header.dropdown-trigger(ng-click="toggleFilterDropdown()" ng-bind="filterName")
                .dropdown
                  ul.dropdown-options(ng-show="sortDropdownVisible")
                    li.dropdown-option.dropdown-label(ng-repeat="filter in filterOptions" ng-bind="filter.name" ng-click="toggleFilterDropdown($index)")
                ul.filter-list
                  li.filter-item(ng-click="filterMedia()" ng-class="{selected: mediaFilter==undefined}")
                    i(class="icon-th")
                    span Show All
                  li.filter-item(ng-repeat="filter in filterCategories | unique:'text'" ng-click="filterMedia(filter.text)" ng-class="{selected: mediaFilter==filter.text}")
                    i(class="icon-{{filter.icon}}")  
                    span(ng-bind="filter.text")
              .media-column(ng-class="{isVisible: mediaIsFiltered}")
                h4.column-header Resource
                ul.media-list
                  li.media-item.back-btn.MOBILE-ONLY(ng-click="backToFilter()")
                    i.icon-left
                    span back
                  li.media-item(ng-repeat="media in mediaLibrary | filter : search " ng-click="openMedia(media.url)")
                    i.media-icon(class="icon-{{media.mediaIcon}}")
                    i.category-icon(class="icon-{{media.categoryIcon}}")
                    h1.title(ng-bind="media.title")
                    h2.author(ng-bind="media.author")
                    p.description(ng-bind="media.description")
      footer
        include _footer.jade
