doctype html
html
  head
    include _head.jade
  body.homepage
    header
      include _header.jade
    main
      .content
        h1 Header 01 - Main Heading
        p Fusce sbromedia_browserdvvagittis convallis metus, quis viverra dolor egestas in. Maecenas laoreet nibh vitae libero ullamcorper tincidunt. Suspendisse potenti. Suspendisse condimentum leo ut dapibus condimentum.
    footer
      include _footer.jade