doctype html
html
  head
    include _head.jade
    script(src='js/app.js')
    script(src='js/controllers.js')
  body.homepage
    header
      include _header.jade
    main
      .content-container
        .content
          .contact-card
            .contact-pic
              img(src="http://stevensegallery.com/550/500")
            .contact-text
              .contact-name Pam Kanaly
              ul.connect_links
                li tw
                li f
                li in
                li bl
                li.request
                  button.arrow_button
                    a(href="#") Request Pam
          h1 Pam Kanaly
          p.intro-text Ut nisi sem, dignissim et ultricies ac, vehicula at quam. Donec suscipit feugiat lectus nec imperdiet. Nulla a tellus nisl. Cras luctus enim sapien, at porta magna varius eget. Quisque venenatis orci nec nisl bibendum, id pharetra turpis vulputate. Etiam placerat elit vel iaculis eleifend. Sed sit amet arcu a quam commodo pharetra eget eget elit. Cras dignissim accumsan tellus, sit amet vulputate orci porttitor non.
          h2 Subheading
          p Ut nisi sem, dignissim et ultricies ac, vehicula at quam. Donec suscipit feugiat lectus nec imperdiet. Nulla a tellus nisl. Cras luctus enim sapien, at porta magna varius eget. Quisque venenatis orci nec nisl bibendum, id pharetra turpis vulputate. Etiam placerat elit vel iaculis eleifend. Sed sit amet arcu a quam commodo pharetra eget eget elit. Cras dignissim accumsan tellus, sit amet vulputate orci porttitor non.
    footer
      include _footer.jade