doctype html
html
  head
    include _head.jade
  body
    nav.mobile_sidebar
      include _mobile_nav.jade
    .slideaway_wrapper
      header
        include _header.jade
      main
        .content-container
          .content
            .contact-card
              .contact-pic
                img(src="http://stevensegallery.com/550/500")
              .contact-text
                .contact-name Pam Kanaly
                .connect_links
                  ul.social_links
                    li.header_link: a(href="#") 
                      i.icon-twitter-bird
                    li.header_link: a(href="#") 
                      i.icon-youtube-play
                    li.header_link: a(href="#") 
                      i.icon-facebook-1
                    li.header_link: a(href="#") 
                      i.icon-instagram-filled
                  .request
                    button.arrow_button
                      a(href="#") Request Pam
            h1 Pam Kanaly
            p.intro-text Ut nisi sem, dignissim et ultricies ac, vehicula at quam. Donec suscipit feugiat lectus nec imperdiet. Nulla a tellus nisl. Cras luctus enim sapien, at porta magna varius eget. Quisque venenatis orci nec nisl bibendum, id pharetra turpis vulputate. Etiam placerat elit vel iaculis eleifend. Sed sit amet arcu a quam commodo pharetra eget eget elit. Cras dignissim accumsan tellus, sit amet vulputate orci porttitor non.
            h2 Subheading
            p Ut nisi sem, dignissim et ultricies ac, vehicula at quam. Donec suscipit feugiat lectus nec imperdiet. Nulla a tellus nisl. Cras luctus enim sapien, at porta magna varius eget. Quisque venenatis orci nec nisl bibendum, id pharetra turpis vulputate. Etiam placerat elit vel iaculis eleifend. Sed sit amet arcu a quam commodo pharetra eget eget elit. Cras dignissim accumsan tellus, sit amet vulputate orci porttitor non.
            section
              h2 Speaking Topics
              ul.topics
                li.expander
                  a.expander-trigger.expander-hidden Expandable section
                  .expander-content
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio mollitia fugiat facilis enim accusamus quisquam aut, repellendus incidunt quod optio facere labore illo numquam ipsum beatae vero debitis, fugit excepturi.
                li.expander
                  a.expander-trigger.expander-hidden Expandable section
                  .expander-content
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio mollitia fugiat facilis enim accusamus quisquam aut, repellendus incidunt quod optio facere labore illo numquam ipsum beatae vero debitis, fugit excepturi.
        .content-container.solid-grey
          .content
            section
              h2 Testimonials
              ul.testimonials-list
                li.testimonial
                  img.testimonial-image(src="http://stevensegallery.com/100/100")
                  p.testimonial-text Nulla nec varius dui. Aliquam erat volutpat. Nunc at viverra nisi, id lobortis quam. Aenean hendrerit fermentum nibh nec lobortis.
                  .name Marcia Newkirk
                  .desc Pastor's wife
                li.testimonial
                  img.testimonial-image(src="http://stevensegallery.com/100/100")
                  p.testimonial-text Nulla nec varius dui. Aliquam erat volutpat. Nunc at viverra nisi, id lobortis quam. Aenean hendrerit fermentum nibh nec lobortis.
                  .name Marcia Newkirk
                  .desc Pastor's wife
                li.testimonial
                  img.testimonial-image(src="http://stevensegallery.com/100/100")
                  p.testimonial-text Nulla nec varius dui. Aliquam erat volutpat. Nunc at viverra nisi, id lobortis quam. Aenean hendrerit fermentum nibh nec lobortis.
                  .name Marcia Newkirk
                  .desc Pastor's wife
      footer
        include _footer.jade
