doctype html
html
  head
    include _head.jade
    script(src='js/app.js')
    script(src='js/controllers.js')
  body
    nav.mobile_sidebar
      include _mobile_nav.jade
    .slideaway_wrapper
      header
        include _header.jade
      main
        .content-container
          .content.store-content
            h1 Store
            p.intro-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed sapien quam. Sed dapibus est id enim facilisis, at posuere turpis adipiscing. Quisque sit amet dui dui.
            header.store-header
              .store-dropdown 
                span.current_category category
                ul.dropdown-options
                  li: a(href="#") category 1
                  li category 2
                  li category 3
              .cart-btn Cart (0)
            h2 Seagals 
            ul.store-list
              li.store-list-item
                a(href="#"): img.item-thumbnail(src="http://stevensegallery.com/300/300")
                h3.item-title Item title
                .item-price $12.00
                button.add-to-cart Add to Cart
              li.store-list-item
                a(href="#"): img.item-thumbnail(src="http://stevensegallery.com/300/300")
                h3.item-title Item title
                .item-price $12.00
                button.add-to-cart Add to Cart
              li.store-list-item
                a(href="#"): img.item-thumbnail(src="http://stevensegallery.com/300/300")
                h3.item-title Item title title title all the way to 3 lines of text for real this time
                .item-price $12.00
                button.add-to-cart Add to Cart
              li.store-list-item
                a(href="#"): img.item-thumbnail(src="http://stevensegallery.com/300/300")
                h3.item-title Item title
                .item-price $12.00
                button.add-to-cart Add to Cart
              li.store-list-item
                a(href="#"): img.item-thumbnail(src="http://stevensegallery.com/300/300")
                h3.item-title Item title
                .item-price $12.00
                button.add-to-cart Add to Cart
              li.store-list-item
                a(href="#"): img.item-thumbnail(src="http://stevensegallery.com/300/300")
                h3.item-title Item title
                .item-price $12.00
                button.add-to-cart Add to Cart
            footer.store-nav-footer
              a.previous previous
              a.next next
        .content-container
          .content
            aside.notes
              p.intro-text Ut nisi sem, dignissim et ultricies ac, vehicula at quam. Donec suscipit feugiat lectus nec imperdiet. Nulla a tellus nisl. Cras luctus enim sapien, at porta magna varius eget. Quisque venenatis orci nec nisl bibendum, id pharetra turpis vulputate. Etiam placerat elit vel iaculis eleifend. Sed sit amet arcu a quam commodo pharetra eget eget elit. Cras dignissim accumsan tellus, sit amet vulputate orci porttitor non.

      footer
        include _footer.jade
