@font-face {
	font-family: 'izicons';
	src:url('fonts/izicons.eot?g01lyj');
	src:url('fonts/izicons.eot?#iefixg01lyj') format('embedded-opentype'),
		url('fonts/izicons.woff?g01lyj') format('woff'),
		url('fonts/izicons.ttf?g01lyj') format('truetype'),
		url('fonts/izicons.svg?g01lyj#izicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'izicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	
	/* Enable Ligatures ================ */
	letter-spacing: 0;
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga";
	font-feature-settings: "liga";

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-phone-circle:before {
	content: "\e60b";
}

.icon-phone-square:before {
	content: "\e600";
}

.icon-googleplus-circle:before {
	content: "\67";
}

.icon-linkedin-circle:before {
	content: "\6c";
}

.icon-pinterest-circle:before {
	content: "\70";
}

.icon-youtube-circle:before {
	content: "\79";
}

.icon-instagram-circle:before {
	content: "\69";
}

.icon-youtube-alt-circle:before {
	content: "\59";
}

.icon-email-circle:before {
	content: "\65";
}

.icon-facebook-circle:before {
	content: "\66";
}

.icon-instagram-round:before {
	content: "\49";
}

.icon-twitter-circle:before {
	content: "\74";
}

.icon-phone:before {
	content: "\e601";
}

.icon-envelope:before {
	content: "\e602";
}

.icon-location:before {
	content: "\e60c";
}

.icon-mobile:before {
	content: "\e603";
}

.icon-googleplus:before {
	content: "\e604";
}

.icon-facebook:before {
	content: "\e605";
}

.icon-instagram:before {
	content: "\e606";
}

.icon-twitter:before {
	content: "\e607";
}

.icon-vimeo2:before {
	content: "\e608";
}

.icon-vimeo-circle:before {
	content: "\76";
}

.icon-dribbble:before {
	content: "\e60a";
}

.icon-linkedin:before {
	content: "\e609";
}

